<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <!-- ============================== -->
   <!-- Append messages to the console -->
   <!-- ============================== -->

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <!-- <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/> -->
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="DEBUG"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->

   <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
   <category name="org.apache">
      <priority value="INFO"/>
   </category>

   <!-- Limit my own classes -->
   <category name="com.andrewswan.powergrid">
     <priority value="INFO"/>
   </category>
   
   <category name="com.andrewswan.powergrid.Utils">
     <priority value="INFO"/>
   </category>

   <category name="com.andrewswan.powergrid.domain.Game">
     <priority value="DEBUG"/>
   </category>

   <category name="com.andrewswan.powergrid.ui.impl.TextInputDevice">
     <priority value="DEBUG"/>
   </category>
   
   <category name="com.andrewswan.powergrid.ui.impl.TextInputDeviceTest">
     <priority value="DEBUG"/>
   </category>

   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>
     <appender-ref ref="CONSOLE"/>
   </root>

</log4j:configuration>
